<h1>Sign up</h1>
<p><em>Password requires one lower case letter, one upper case letter, one digit, and must be 6-13 characters long</em></p>
<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <span class="waves-effect waves-light btn"><%= f.submit "Sign up" %></span>
<% end %>
