<h3>Products</h3>
<% if is_admin? %>
  <div class="admin">
    <%= link_to "Add New Product", new_product_path(@product)%>
  </div>
<%end%>
<div class="row">
  <div class="section">
    <% @products.each do |product| %>
      <div class="col s4">
      <%= link_to image_tag(product.photo.url(:medium)), product_path(product), remote: true%>
        <h4><%= product.name %></h4>
        <p><%= number_to_currency product.price %></p>
        <div id="display<%= product.id %>"></div>
      </div>
    <% end %>
  </div>
</div>
