<h3>Products</h3>
<% if is_admin? %>
  <div class="admin">
    <%= link_to "Add New Product", new_product_path(@product)%>
  </div>
<%end%>
<div class="row">
  <div class="section">
    <% @products.each do |product| %>
      <div class="col s4">
      <%= link_to image_tag(product.photo.url(:medium)), product_path(product), remote: true%>
        <h4><%= product.name %></h4>
        <p><%= number_to_currency product.price %></p>
        <div class= "description" id="display<%= product.id %>">
          <p><%= product.description %><p>
            <%= form_for @order_item, remote: true do|f| %>
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.number_field :quantity, min: 1, placeholder: "Oops, breaks if you don't add input!" %>
              <span class="waves-effect waves-light btn"><%= f.submit "Add to cart"%></span>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
